[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"
requests = "*"
djangorestframework = "*"
django-cors-headers = "*"
django = "*"
aspose-cells = "*"
pypdf2 = "*"
aspose-words = "*"
pdf2docx = "*"
docx = "*"
scikit-learn = "*"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.8"
